@model IEnumerable<BookWorm.ViewModels.DocumentViewModel>

@{
    ViewBag.Title = "Home Page";
}

<ul class="documents">
    @foreach (var document in Model)
    {
        <li>
            <div class="container">
                <div class="row">

                    <div class="col-sm-1">
                        <span class="DocumentThumbnail">
                            <img src="@Url.Content(document.ThumbnailUrl)" style="width:70px; height:60px" />
                        </span>
                    </div>

                    <div class="col-sm-11">
                        <span class="Documentdetails">
                            @document.Name
                        </span>

                        <span class=" Documentexcerpt">
                            @document.Excerpt
                        </span>

                        
                        <div>
                            @if (Context.User.IsInRole("Admin"))
                            {
                                <span class="btn-link right">
                                    @Html.ActionLink("Tweak", "Edit", "Document", new { Id = document.DocumentsID }, null)
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </span>



                                <span class="btn-link right">
                                    @Html.ActionLink("Remove", "Delete", "Document", new { Id = document.DocumentsID }, null)
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            }

                            @if (Context.User.IsInRole("Registered"))
                            {
                                <span class="btn-link right">
                                    <a href="@Url.Content(document.DownloadUrl)"> Download </a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            }
                        </div>
                       
                    </div>
                </div>
                
            </div>
        </li>
    }
</ul>

   

@section scripts
{
    @*<script>
            $('#documentUploaderButton').change(function () {
                if ($(this).val() !== ".jpg" || $(this).val() !== ".png") {  // if its not equals to png or jpg
                    $('#imageUploaderButton').attr('disabled', '');
                } else {
                    $('#imageUploaderButton').attr('disabled', 'disabled');
                }
            });

        </script>*@
}

@*<script type="text/javascript">
    $('#doc').change(function () {
        if ($(this).val().contains(".jpg") || $(this).val().contains(".png")) {
            $('#imgButton').attr('disabled', '');
        } else {
            $('#imageUploaderButton').attr('disabled', 'disabled');
        }
    });
</script>*@
