<!DOCTYPE html>
<html>
    @{
        bool isHome = false;

        if (ViewBag.IsHome != null)
        {
            isHome = (bool)ViewBag.IsHome;
        }
    }
        @{ 
            bool isUpload = false;

            if (ViewBag.IsUpload != null)
            {
                isUpload = (bool)ViewBag.IsUpload;
            }
        }
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title - BookWorm </title>
        @Scripts.Render("~/bundles/modernizr")

        <!-- Bootstrap -->
        <link href=@Url.Content("/Content/Theme/css/bootstrap.min.css") rel="stylesheet">
        <link href=@Url.Content("/Content/Theme/css/responsive-slider.css") rel="stylesheet">
        <link rel="stylesheet" href=@Url.Content("/Content/Theme/css/animate.css")>
        <link rel="stylesheet" href=@Url.Content("/Content/Theme/css/font-awesome.min.css")>
        <link href=@Url.Content("/Content/Theme/css/style.css") rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("BookWorm", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">

                            <li>@Html.ActionLink("Categories", "Category", "Home")</li>

                            @if (Context.User.IsInRole("Admin"))
                            {

                                <li>@Html.ActionLink("My List", "MyList", "Home")</li>
                                <li>@Html.ActionLink("Role", "Index", "Role")</li>
                                <li>@Html.ActionLink("Upload", "Upload", "Document")</li>
                            }
                            @if (Context.User.IsInRole("Registered"))
                            {

                                <li>@Html.ActionLink("My List", "MyList", "Home")</li>
                            }
                        </ul>
                        @Html.Partial("_LoginPartial")


                    </div>



                </div>
            </div>
        </header>



        <div>@RenderBody();</div>

        <!--about-->
        @if (isHome)
        {

            <div class="container">
                <div class="about">
                    <div class="row">
                        <div class="recent">
                            <button class="btn-primarys"><h3>About BookWorm</h3></button>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-slider">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
                                <div class="col-lg-6 mar-bot30">
                                    <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
                                        <div class="slides" data-group="slides">
                                            <div class="slide-bodys" data-group="slide">
                                                <ul>
                                                    <li><img alt="" class="img-responsive" src=@Url.Content("/Content/Theme/img/categories/2.jpg") width="100" height="450" /></li>
                                                    <li><img alt="" class="img-responsive" src=@Url.Content("/Content/Theme/img/categories/1.jpg") width="100" height="450" /></li>
                                                    <li><img alt="" class="img-responsive" src=@Url.Content("/Content/Theme/img/categories/3.jpg") width="100" height="450" /></li>
                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                    <div class="thumnails">
                                        <h4>What Is BookWorm About?</h4>
                                        <p>
                                            Book Worm we are passionate about the written word and seek to share our love of reading to help create
                                            and sustain a community of lifelong readers.
                                            We strive to provide a hospitable and nurturing environment to encourage the healthy exchange of ideas by hosting numerous readings,
                                            book groups, panel presentations, and on-line discussions.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!--/about-->
        <br />
        @if (isHome)
        {
            <!--start footer-->
        <footer>
            @if (isHome)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="address">
                                <h4>Our Address</h4>
                                <h6>
                                    BookWorm, 
                                    SunnyVale Estate, 
                                    Fct-Abuja
                                </h6>
                                <h6>Call : 81 0917 3643</h6>
                                <h6>Email : info@bookworm.com</h6>
                            </div>

                        </div>
                        @*<div class="col-md-3">
                            <div class="navigation">
                                <h4>Navigation</h4>
                                <ul>
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                    <li>@Html.ActionLink("Products", "Products", "Home")</li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-md-5">
                            <div class="form">
                                <h3>Quick Contact us</h3>

                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input placeholder="Name" required>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" placeholder="Email" required>
                                        </div>
                                        <div class="col-md-12">
                                            <textarea placeholder="Messege"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn black">Alright, Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>*@
                    </div>
                </div>
            }

            <div class="copy-right">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>(C) 2019. All Rights Reserved. Omolewa</h5>
                        </div>
                        @*<div class="col-md-6">
                            <div class="share align-middle">
                                <span class="fb"><i class="fa fa-facebook-official"></i></span>
                                <span class="instagram"><i class="fa fa-instagram"></i></span>
                                <span class="twitter"><i class="fa fa-twitter"></i></span>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </footer>
        }

        @*<footer>
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            @if (isUpload)
                            {
                                <div class="copyright">
                                    <p>
                                        <span>&copy; BookWorm.com</span>
                                    </p>
                                    <div class="credits">
                                        Designed by Omolewa!
                                    </div>
                                </div>
                            }
                        </div>
                        @if (isUpload)
                        {
                            <div class="col-lg-6">
                                <ul class="social-network">
                                    <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
                                    <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>

                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </footer>*@

        <!--end footer-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src=@Url.Content("/Content/Theme/js/jquery.js")></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src=@Url.Content("/Content/Theme/js/bootstrap.min.js")></script>
        <script src=@Url.Content("/Content/Theme/js/responsive-slider.js")></script>
        <script src=@Url.Content("/Content/Theme/js/wow.min.js")></script>
        @*<script>
            wow = new WOW({}).init();
        </script>*@
        @*@Scripts.Render("~/bundles/jquery")*@
        @*@Scripts.Render("~/bundles/bootstrap")*@
        @RenderSection("scripts", required: false)

    </body>
</html>
