<!DOCTYPE html>
<html lang="en">
@{
    bool isHome = false;

    if (ViewBag.IsHome != null)
    {
        isHome = (bool)ViewBag.IsHome;
    }
}

@{
    bool isUpload = false;

    if (ViewBag.IsUpload != null)
    {
        isUpload = (bool)ViewBag.IsUpload;
    }
}
<head>
    <meta charset="UTF-8">
    <title>BookWorm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href=@Url.Content("/Content/Theme/css/bootstrap.min.css")>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/Theme/css/owl.carousel.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/Theme/css/styles.css")>
</head>

<body>
    <header>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    @Html.ActionLink("BookWorm", "Index", "Home", new { area = "" }, new { @class = "navbar-brand " })
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item active">
                                @Html.ActionLink("Categories", "Category", "Home", new { @class = "nav-link" })
                            </li>

                            <li class="navbar-item">
                                <a href="shop.html" class="nav-link">Shop</a>
                            </li>

                            <li class="navbar-item">
                                @Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })
                            </li>

                            @if (Context.User.IsInRole("Admin"))
                            {

                                <li class="navbar-item">
                                    @Html.ActionLink("My List", "MyList", "Home", new { @class = "nav-link" })
                                </li>
                                <li class="navbar-item">
                                    @Html.ActionLink("Role", "Index", "Role", new { @class = "nav-link" })
                                </li>
                                <li class="navbar-item">
                                    @Html.ActionLink("Upload", "Upload", "Document", new { @class = "nav-link" })
                                </li>
                            }
                            @if (Context.User.IsInRole("Registered"))
                            {

                                <li class="navbar-item">
                                    @Html.ActionLink("My List", "MyList", "Home", new { @class = "nav-link" })
                                </li>
                            }


                            @Html.Partial("_LoginPartial")

                        </ul>



                        <div class="cart my-2 my-lg-0">
                            <span>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </span>
                            <span class="quntity">1</span>
                        </div>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search here..." aria-label="Search">
                            <span class="fa fa-search"></span>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </header>


    <div>@RenderBody();</div>


    <footer>
        @if (isHome)
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="address">
                            <h4>Our Address</h4>
                            <h6>
                                BookWorm, SunnyVale Estate
                                Beside that building, Fct-Abuja
                            </h6>
                            <h6>Call : 81 0917 3643</h6>
                            <h6>Email : info@bookworm.com</h6>
                        </div>
                      
                    </div>
                    <div class="col-md-3">
                        <div class="navigation">
                            <h4>Navigation</h4>
                            <ul>
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Products", "Products", "Home")</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <div class="form">
                            <h3>Quick Contact us</h3>
                           
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input placeholder="Name" required>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" placeholder="Email" required>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea placeholder="Messege"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn black">Alright, Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>(C) 2019. All Rights Reserved. Omolewa</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="share align-middle">
                            <span class="fb"><i class="fa fa-facebook-official"></i></span>
                            <span class="instagram"><i class="fa fa-instagram"></i></span>
                            <span class="twitter"><i class="fa fa-twitter"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src=@Url.Content("/Content/Theme/js/jquery.min.js")></script>
    <script src=@Url.Content("/Content/Theme/js/bootstrap.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/Theme/js/owl.carousel.min.js")></script>
    <script src=@Url.Content("/Content/Theme/js/custom.js")></script>
    @RenderSection("Scripts", required: false)
</body>

</html>


@*<li class="navbar-item">
          <a href="faq.html" class="nav-link">FAQ</a>
      </li>
    @Html.Partial("_LoginPartial")

      <section class="static about-sec">
          <div class="container">
              <h1>About Us</h1>
              <div class="img-sec">
                  <img src="images/about.jpg" alt="about">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five</p>
              </div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five</p>
              <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
              </p>
          </div>
      </section>*@

